*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#74b9ff,#0984e3);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:350px;
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
    text-align:center;
}

h1{
    margin-bottom:20px;
    color:#0984e3;
}

.search-box{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.search-box input{
    flex:1;
    padding:10px;
    border:2px solid #0984e3;
    border-radius:10px;
    outline:none;
}

.search-box button{
    background:#0984e3;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.search-box button:hover{
    background:#0652DD;
}

#weather{
    margin-top:20px;
}
